@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Pixelify+Sans:wght@400..700&display=swap");

body {
	margin: 0;
	color: white;
	font-family: "Geist Mono", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
	font-family: "Pixelify Sans", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 28px;
	text-align: center;
}

#results,
body,
#instructions {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: rgba(20, 20, 20, 0.75);
}

.nabla-h1 {
	font-family: "Nabla", serif;
	font-optical-sizing: auto;
	font-size: 92px;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "EDPT" 100, "EHLT" 12;
}

a:visited {
	color: inherit;
}

#results {
	display: none;
	cursor: default;
}

#results .content,
#instructions .content {
	max-width: 300px;
	padding: 50px;
	border-radius: 20px;
}

#score {
	position: absolute;
	color: #fff;
	font-size: 3em;
	font-weight: bold;
	top: 30px;
	right: 30px;
}
